h1 
{
  text-align: center;
}

h3
{
  text-align: center;
}

body
  {
	background-color: #F4D2ED;
	}
h2 
{
	text-align: center;
	align-content: center;
}

td
{
	border: 1px solid black ;
}
th
{
	width: 400px;

}
table
{
	border: 1px solid black;
	padding: 4;
	text-align: center;
	
}

.violet
{
	background-color: #DB0CDB;
}
.blue
{
	background-color: #1AB2D8;
}

.dark_blue
{
	background-color: #0005E7
}

.red
{
	background-color: red;
}
.orange
{
	background-color: orange;
}
.yellow
{
	background-color: yellow;
}
.green
{
	background-color: green;
}
footer
{
    height: 40px;
    width: 100%;
    padding: 10px;
    background-color: #FAB8E0;
}
header
{
	height: 120px;
	background-color: #FAB8E0;
	padding: 10px;
	width: 100%;
}
.logo
{
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 7px #666;
}
#hd
{
	padding: 10px;
	background-color: #F3BCF8 ;
	font-size: 25px;
	font-family: Arial;
}
.cont
{
	max-width:960px;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom: 10px;
	marker: 20px;
	padding:10px;
	background-color: #EBADF4
}
nav
{
	max-width:960px;
	margin: 0 auto;
	margin-top:20px;
	padding:10px;
	align-content: center;
	background-color: #F3BCF8;

}

.navigation
{
	list-style: none;
	margin: 0 auto;
	padding-left: 0;

}
nav a
{
	text-decoration: none;
	text-align: center;
	padding: 95px;
	font-size: 20px;
	font-family: 

}
nav li
 {
 	display: inline;

 }
 .center
 {
 	margin: auto; 	
 }

